.btn.btn-xl:not(.s-circle) {
    max-width: 225px;
    width: 100%;
}

.btn.btn-xl.s-circle {
    height: 3rem;
    width: 3rem;
}

.navbar {
    background-color: var(--backgroud-color);
}

.btn-link-sm {
    font-size: 12px;
    height: unset;
    line-height: unset;
    padding: 0;
}

button.strike.disabled {
    text-decoration: line-through;
}

.bg-error {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #ffe0e0 !important;
    border-radius: 4px;
    color: #e85600;
    padding-left: 4px;
    padding-right: 4px;
}

.btn.btn-success {
    font-weight: 700;
}
